/* Header content */
.nav-container {
  .header-container{
    background-color: white;
    height: 62px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
  .burger{
    display: none;
  }
  .navLink a, .nav-link_button a{
    text-decoration: none;
    color: inherit;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
  }
  .nav-link_button{
    display: flex;
    align-items: center;
    gap:10px;
  }
  .navLink{
    display: flex;
    gap:10px;
  }
  /* Logo container */
  .icon_container {
    display: flex;
    align-items: center;
    gap: 2px;
    .logo{
      height: 50px;
    }
    .title{
      height: 30px;
    }
    img {
      
      overflow-clip-margin: content-box;
      overflow: clip;
    }
  }
  
  .nav {
    display: flex;
    align-items: center;
    .nav__links {
      list-style: none;
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;
    }
    .nav__links li a {
      text-decoration: none;
      color: black;
      font-weight: 500;
      transition: color 0.3s ease;
    }
    .nav__links li a:hover {
      color: #f28423;
    }
  }
  
  
  .cta button {
    padding: 10px 20px;
    background-color: #f28423;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'oswald';
  }
  
  .cta button:hover {
    background-color: #f0994c;
  }
}
}

@media screen and (max-width: 1024px) {
  .nav-container .header-container .icon_container img {
      height: 20px !important;
      width: unset !important;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-container {

    .header-container{
      .navLink{
        display: none;
      }
      .burger {
        height: 16px; /* Fixed height */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        min-width: 23px; /* Prevent shrinking */
        flex-shrink: 0; /* Stops shrinking in flex containers */
        .thinLine {
          height: 2px;
          background-color: black;
          border-radius: 2px;
          transition: all 0.3s ease-in-out;
        }
        .line{
            height: 3px;
            background-color: black;
            border-radius: 2px;
            transition: all 0.3s ease-in-out;
        }
        /* Add a class "open" when the menu is toggled */
        .burger.open .line:nth-child(1) {
          transform: translateY(12px) rotate(45deg);
        }
        
        .burger.open .line:nth-child(2) {
          opacity: 0;
        }
        
        .burger.open .line:nth-child(3) {
          transform: translateY(-12px) rotate(-45deg);
        }
      }
    }}
  
}
