:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-oswald: 'Oswald', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

h1, h2 {
  font-family: var(--font-oswald);
}

p {
  font-family: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Oswald, Arial, Helvetica, sans-serif;
  margin:0;
}

html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}