.home-container {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  .featureCards-container {
    background-image: linear-gradient(to bottom, #f9fafb, rgb(249 250 251 / 0));
  }
}