.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .greatingContainer {
    .homeTxt {

      .greatingTxt,
      .invitingTxt {
        color: white;
      }
    }
  }

  .location-container {
    .header {
      display: flex;
      justify-content: center;

      h2 {
        font-size: 3rem;
        line-height: 1;
        letter-spacing: -0.05em;
        font-weight: 700;
      }
    }

    .main-row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10%;
      padding: 0 20%;

      .info {
        padding: 20px;
        border-color: #e5e7eb;
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        border-width: 1px;
        border-radius: 0.5rem;
        width: 50%;

        .location_info {
          display: flex;
          flex-direction: column;

          .title {
            letter-spacing: -0.025em;
            line-height: 1;
            font-weight: 600;
            font-size: 1.5rem;
          }

          p {
            display: flex;
            align-items: center;
            gap: 5px;
            margin: 0.3rem 0;
          }
        }

        .workingHours_info {
          display: flex;
          flex-direction: column;

          p {
            margin: 0;
          }
        }
      }

      .map-container {
        width: 50%
      }
    }
  }
}

@media (max-width: 1023px) {
  .home-container .location-container .main-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 2rem;
    .info, .map-container{
      width: 100%;
    }
  }
}